language: go
os:
  - linux
go:
  - 1.13
install:
  - go get -t -v -d ./...
script:
  - go test -v .
  - go test -v -run="none" -bench=.
  - go test -coverprofile=coverage.txt -covermode=atomic
after_success:
  - bash <(curl -s https://codecov.io/bash)